

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@layer base {
  :root {
    --background: 36 100% 98.04%; /* Light Orange */
    --foreground: 24 100% 5%; /* Very dark Orange-black */

    --primary: 24 100% 50%; /* Pure Orange */
    --primary-foreground: 0 0% 100%; /* White */

    --card: 36 100% 98.04%; /* Light Orange */
    --card-foreground: 24 100% 5%; /* Very dark Orange-black */

    --popover: 0 0% 100%; /* White */
    --popover-foreground: 24 100% 5%; /* Very dark Orange-black */

    --secondary: 24 100% 92.55%; /* Very light Orange */
    --secondary-foreground: 24 100% 1%; /* Very dark Orange-black */

    --muted: 24 100% 95.1%; /* Very light Orange */
    --muted-foreground: 0 0% 40%; /* Medium gray */

    --accent: 24 100% 95.1%; /* Very light Orange */
    --accent-foreground: 24 100% 50%; /* Pure Orange */

    --destructive: 0 84.2% 60.2%; /* Bright Red */
    --destructive-foreground: 24 40% 98%; /* Very pale Orange */

    --border: 0 0% 90.2%; /* Light gray */
    --input: 0 0% 90.2%; /* Light gray */
    --ring: 24 100% 50%; /* Pure Orange */

    --radius: 0.5rem;
  }

  .dark {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #ff6600, #ffaa00); /* Gradient of Oranges */

    --background: 24 65% 3.52%; /* Very dark Orange */
    --foreground: 24 10% 97.2%; /* Very light Orange */

    --muted: 24 50% 13.2%; /* Dark muted Orange */
    --muted-foreground: 24 10% 54.4%; /* Medium muted Orange */

    --popover: 24 45% 5.72%; /* Very dark Orange */
    --popover-foreground: 24 10% 97.2%; /* Very light Orange */

    --card: 24 45% 5.72%; /* Very dark Orange */
    --card-foreground: 24 10% 97.2%; /* Very light Orange */

    --border: 24 50% 13.2%; /* Dark muted Orange */
    --input: 24 50% 13.2%; /* Dark muted Orange */

    --primary: 24 100% 44%; /* Darker Orange */
    --primary-foreground: 24 10% 97.2%; /* Very light Orange */

    --secondary: 24 50% 13.2%; /* Dark muted Orange */
    --secondary-foreground: 24 10% 97.2%; /* Very light Orange */

    --accent: 24 50% 13.2%; /* Dark muted Orange */
    --accent-foreground: 24 10% 97.2%; /* Very light Orange */

    --destructive: 0 62.8% 30.6%; /* Dark Red */
    --destructive-foreground: 24 10% 97.2%; /* Very light Orange */

    --ring: 24 100% 44%; /* Darker Orange */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.dotPattern {
  background-image: radial-gradient(rgb(68, 40, 35) 1px, transparent 1px); /* Dark Orange-brown */
  background-size: 25px 25px;
}

.use-automation-zoom-in {
  animation: automation-zoom-in 0.5s;
}

@keyframes automation-zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
